<div class="page-header">
  <h1>Service #<%= @service.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Service name</dt>
  <dd><%= @service.service_name %></dd>

  <dt>Service description</dt>
  <dd><%= @service.service_description %></dd>

</dl>
